<!DOCTYPE html>
{% extends 'folder01/base.html' %}

{% block body_block%}

<!-- <h1>WELCOME RELATIVE URL TEMPLATES</h1> -->

<div class="container">
  <div class="row">
    <div id="guest-map" class="jumbotron col-sm text-center" style="background-color: #6C5CFF">
      <h3>APP ONE</h3>
    </div>
    <div id="mysql-int" class="jumbotron col-sm text-center" style="background-color: #FF5C5C">
      <h3>APP TWO</h3>
    </div>
    <div id="todolist" class="jumbotron col-sm text-center" style="background-color: #7FFF5C">
      <h3>APP THREE</h3>
    </div>
  </div>
</div>

{% endblock %}
