<!DOCTYPE html>
{% extends 'folder01/base.html' %}

{% block body_block%}

<!-- <h1>WELCOME RELATIVE URL TEMPLATES</h1> -->

<div class="container">
  <div class="row">
    <div id="guest-map" class="jumbotron col-sm text-center" style="background-color: #6C5CFF">
      <h3>APP ONE</h3>
    </div>
    <div id="mysql-int" class="jumbotron col-sm text-center" style="background-color: #FF5C5C">
      <h3>APP TWO</h3>
    </div>
    <div id="todolist" class="jumbotron col-sm text-center" style="background-color: #7FFF5C">
      <h3>APP THREE</h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="jumbotron">

    <p>
      {{ test }}
    </p>
    <h3>Selezionare il file:</h3>

    <form method="post" action="" enctype="multipart/form-data">
      {% csrf_token %}
      <!-- {{user_form.as_p}}
      {{profile_form.as_p}} -->
      <input type="file" name="myfile">
      <input type="submit" class="btn btn-primary" name="" value="Upload">
    </form>

    {% if uploaded_file_url %}
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
    {% endif %}

    {% for item in file_ex %}
    <p>{{ item }}</p>
    {% endfor%}


  </div>

</div>


{% endblock %}
